<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logfile" source="logging.file" defaultValue="application.log"/>
    <springProperty scope="context" name="loglevel" source="logging.level" defaultValue="INFO"/>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.FileAppender">
        <file>${logfile}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="${loglevel}">
        <appender-ref ref="FILE_APPENDER" />
    </root>
    
</configuration>